Source: calamares-settings-blissos
Section: utils
Priority: optional
Maintainer: Bùi Gia Viện <shadichy@blisslabs.org>
Build-Depends: debhelper-compat (= 13), libglib2.0-bin
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/BlissOS/calamares_branding_blissos
Vcs-Git: https://github.com/BlissOS/calamares_branding_blissos
Vcs-Browser: https://github.com/BlissOS/calamares_branding_blissos

Package: calamares-settings-blissos
Architecture: all
Depends: calamares
         ${misc:Depends}
Provides: calamares-settings
Description: BlissOS theme and settings for the Calamares Installer
 Calamares is a generic installer framework for Linux distributions.
 By default, it contains a set of boilerplate wording and images. This
 package provides the latest BlissOS artwork as well as scripts that
 supports EFI installations.
 .
 It also serves as an example for how derivatives can create their own
 calamares-settings packages.
